* {
   margin: 0px;
   padding: 0px;
}

body {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   color: #5d5d5d;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   color: #404040;
   font-weight: 700;
}

p {
   color: #5d5d5d;
}

ul,
p {
   margin: 0px;
   padding: 0px;
   font-weight: 500;
}

img {
   max-width: 100%;
   height: auto;
}

.margin_padding_0 {
   margin: 0px;
   padding: 0px;
}


input:focus,
button:focus,
textarea:focus {
   outline: none;
}

a:hover,
a:focus {
   text-decoration: none;
}

/**************************************  
   Header Section Start
***************************************/
.custom_width {
   max-width: 1970px;
   margin: 0 auto;
}

/* Menu Area Start */
.menu_img img {
   width: 85%;
}

.menu_area {
   position: absolute;
   top: 0;
   z-index: 2;
   width: 100%;
   padding-top: 80px;
}

.menu ul li {
   list-style: none;
   display: inline-block;
}


.navbar-light .menu_nav .navbar-nav .nav-link {
   color: rgb(255, 255, 255);
   font-size: 20px;
   padding: 10px 20px;
}

.navbar-light .menu_nav .navbar-nav .nav-link span{
   color: #a8a8a8;
}

.menu_dropdown .dropdown-menu.show {
   top: 100%;
   left: -267%;
   border-radius: 0px;
   border: none;
   -webkit-box-shadow: 0px 1px 10px 3px rgba(51, 0, 72, 1);
   -moz-box-shadow: 0px 1px 10px 3px rgba(51, 0, 72, 1);
   box-shadow: 0px 1px 10px 3px rgba(51, 0, 72, 1);
   background: #2D083A;
   padding: 0px;
   width: 195px;
}

.menu_dropdown .dropdown-item:focus,
.menu_dropdown .dropdown-item:hover {
   background-color: rgba(110, 48, 136, 0.6);
}

li.nav-item.dropdown.menu_dropdown.show a.dropdown-item {
   color: #ffffff;   
   font-weight: 500;
}

.menu .navbar-light .navbar-toggler {
   color: #a8a8a8;
   border-radius: 0px;
   border-color: #a8a8a8;
}
/* Menu Area End */

/* Header Body Start */
.header_bg {
   background-image: url(../images/header_bg.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
   z-index: 1;
   overflow: hidden;
   background-color: #330048;
}

.header_bg:after {
   position: absolute;
   content: '';
   background-color: #330048;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .7;
}

.header_body_text {
   padding-top: 350px;
   padding-bottom: 500px;
}

.header_body_text h1 {
   color: #fff;
   text-transform: uppercase;
   font-size: 70px;
}

.header_body_text h1 span {
   color: #ed322d;
}

.header_body_text p {
   color: #a8a8a8;
   font-size: 20px;
   margin-top: 30px;
   width: 480px;
   margin-left: auto;
   margin-right: auto;
}

a.scroll_btn {
   position: absolute;
   top: 83%;
}

a.scroll_btn span {
   display: block;
   font-size: 15px;
   color: #a8a8a8;
   text-transform: uppercase;
   letter-spacing: 1.6px;
   margin-top: 16px;
}
/* Header Body End */

/* Header Traingle Start */
.header_triangle img {
   width: 430px;
}

.header_triangle img:nth-child(1) {
   position: absolute;
   top: 0;
   left: -7%;
   z-index: -2;
   transform: rotate(180deg);
}

.header_triangle img:nth-child(2) {
   position: absolute;
   top: 16%;
   left: 33%;
   z-index: -2;
}

.header_triangle img:nth-child(3) {
   position: absolute;
   top: 73%;
   right: -9%;
   z-index: -2;
   transform: rotate(180deg);
}
/* Header Traingle End */

/**************************************  
   Header Section End
***************************************/