* {
   margin: 0px;
   padding: 0px;
}

body {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   color: #5d5d5d;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   color: #404040;
   font-weight: 700;
}

p {
   color: #5d5d5d;
}

ul,
p {
   margin: 0px;
   padding: 0px;
   font-weight: 500;
}

img {
   max-width: 100%;
   height: auto;
}

.margin_padding_0 {
   margin: 0px;
   padding: 0px;
}


input:focus,
button:focus,
textarea:focus {
   outline: none;
}

a:hover,
a:focus {
   text-decoration: none;
}

/**************************************  
   Header Section Start
***************************************/
#custom_width {
   max-width: 1970px;
   margin: 0 auto;
}

/* Menu Area Start */
.menu_img img {
   width: 85%;
}

.padding_0 {
   padding: 0px;
}

.menu {
   position: absolute;
   top: 0;
   z-index: 2;
   width: 100%;
   padding-top: 80px;
   padding-right: 100px;
   padding-left: 30px;
}

.menu ul li {
   list-style: none;
   display: inline-block;
}


.navbar-light .menu_nav .navbar-nav .nav-link {
   color: rgb(255, 255, 255);
   font-size: 20px;
   padding: 10px 20px;
}

.navbar-light .menu_nav .navbar-nav .nav-link span {
   color: #a8a8a8;
}

.menu_dropdown .dropdown-menu.show {
   top: 100%;
   left: -267%;
   border-radius: 0px;
   border: none;
   -webkit-box-shadow: 0px 1px 10px 3px rgba(51, 0, 72, 1);
   box-shadow: 0px 1px 10px 3px rgba(51, 0, 72, 1);
   background: #2D083A;
   padding: 0px;
   width: 195px;
}

.menu_dropdown .dropdown-item:focus,
.menu_dropdown .dropdown-item:hover {
   background-color: rgba(110, 48, 136, 0.6);
}

li.nav-item.dropdown.menu_dropdown.show a.dropdown-item {
   color: #ffffff;
   font-weight: 500;
}

.menu .navbar-light .navbar-toggler {
   color: #a8a8a8;
   border-radius: 0px;
   border-color: #a8a8a8;
   border: none;
}

/* Menu Area End */

/* Header Body Start */
.header_bg {
   background-image: url(../images/header_bg.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
   z-index: 1;
   overflow: hidden;
   background-color: #330048;
}

.header_bg:after {
   position: absolute;
   content: '';
   background-color: #330048;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .7;
}

.header_body_text {
   padding-top: 350px;
   padding-bottom: 500px;
}

.header_body_text h1 {
   color: #fff;
   text-transform: uppercase;
   font-size: 70px;
}

.header_body_text h1 span {
   color: #ed322d;
}

.header_body_text p {
   color: #a8a8a8;
   font-size: 20px;
   margin-top: 30px;
   width: 480px;
   margin-left: auto;
   margin-right: auto;
}

a.scroll_btn {
   position: absolute;
   top: 83%;
}

a.scroll_btn span {
   display: block;
   font-size: 15px;
   color: #a8a8a8;
   text-transform: uppercase;
   letter-spacing: 1.6px;
   margin-top: 16px;
}

/* Header Body End */

/* Header Traingle Start */
.header_triangle img {
   width: 645px;
}

.header_triangle img:nth-child(1) {
   position: absolute;
   top: -5%;
   left: -15%;
   z-index: -2;
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}

.header_triangle img:nth-child(2) {
   position: absolute;
   top: 11%;
   left: 50%;
   z-index: -2;
   -ms-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}

.header_triangle img:nth-child(3) {
   position: absolute;
   top: 73%;
   right: -9%;
   z-index: -2;
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}

/* Header Traingle End */

/**************************************  
   Header Section End
***************************************/

/**************************************  
      Quisque / About Start
***************************************/
.container-fluid.container_padding {
   padding-left: 0px;
   overflow: hidden;
}

.quisque_bg {
   background-image: url(../images/Quisque_bg.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #F8F8F8;
   height: 624px;
   position: relative;
   width: 985px;
}

.quisque_right h2 {
   font-size: 72px;
   text-transform: uppercase;
   color: #404040;
   padding-bottom: 20px;
}

span.mountain_top {
   position: absolute;
   top: 23%;
   left: 29%;
   font-size: 15px;
   width: 38px;
   height: 38px;
   border: 2px solid #ed322d;
   border-radius: 50%;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #ed322d;
}

span.mountain_top:after {
   content: '';
   position: absolute;
   background: #e2e2e2;
   width: 79px;
   height: 2px;
   left: 72%;
}

.quisque_right h2 span {
   color: #ed322d;
}

.quisque_right {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background-color: #F8F8F8;
   padding-left: 45px;
   height: 624px;
   position: relative;
}

.quisque_right:after {
   position: absolute;
   content: '';
   background-color: #f8f8f8;
   width: 5000px;
   height: 624px;
   left: 100%;
}

.border_bar {
   position: relative;
}

span.bordr_bottom {
   width: 35px;
   height: 2px;
   display: block;
   background: #d3d3d3;
   position: absolute;
   top: 50%;
   left: 0%;
}

.quisque_border {
   background: #eeeeee;
   width: 100%;
   height: 2px;
   margin-bottom: 30px;
}

.quisque_right p {
   padding: 35px 0px;
   color: #5d5d5d;
   font-weight: 400;
   font-size: 17px;
}

.quisque_video_text p {
   padding: 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100px;
}

.quisque_video_thumbnail:after {
   position: absolute;
   content: '';
   background: #000;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   opacity: .5;
}

.quisque_video_thumbnail {
   position: relative;
}

.quisque_video_thumbnail span {
   position: absolute;
   left: 38%;
   top: 32%;
   color: #fff;
   z-index: 1;
   font-size: 38px;
   line-height: 30px;
   cursor: pointer;
}

.quisque_video_thumbnail img {
   width: 100%;
}

.quisque_bg_table h4 {
   color: #383838;
   font-size: 20px;
}

.quisque_bg_table {
   position: absolute;
   left: 40%;
   top: 24%;
   width: 298px;
   padding-right: 10px;
}

.quisque_bg_table p {
   color: #7e7e7e;
}

/**************************************  
      Quisque / About End
***************************************/


/**************************************  
      Our Process Section Start
***************************************/
.section_padding {
   padding: 135px 0px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.process_top h2 {
   font-size: 72px;
   text-transform: uppercase;
   margin-bottom: 18px;
}

.our_process_border span.bordr_bottom {
   text-align: center;
   position: unset;
   margin: 0 auto;
}

.process_top p {
   font-size: 24px;
   font-weight: 300;
   margin-top: 30px;
   margin-bottom: 0px;
}

.process_img {
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   position: relative;
   height: 404px;
   margin-top: 60px;
   margin-bottom: 60px;
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
}

.process_bg_1 {
   background: #ef666d;
   opacity: .9;
   width: 195px;
   height: 195px;
   border-radius: 50%;
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
   position: absolute;
   left: 5%;
   z-index: 1;
}

.process_bg_2 {
   background: #3dbbaf;
   opacity: .7;
   width: 340px;
   height: 340px;
   border-radius: 50%;
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
   position: absolute;
   left: 21%;
}

.process_bg_3 {
   background: #5dd0eb;
   opacity: .9;
   width: 404px;
   height: 404px;
   border-radius: 50%;
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
   position: absolute;
   left: 50%;
   z-index: -1;
}

.process_bg_4 {
   background: #f5c92e;
   opacity: .9;
   width: 190px;
   height: 190px;
   border-radius: 50%;
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
   position: absolute;
   left: 83%;
   z-index: -2;
}

.process_img h3 {
   color: #fff;
   font-size: 24px;
   text-transform: uppercase;
   font-weight: 400;
}

.process_desc h3 {
   font-size: 15px;
   color: #5d5d5d;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.process_desc p {
   font-size: 15px;
   font-weight: 400;
   line-height: 1.7;
}

/**************************************  
      Our Process Section End
***************************************/


/**************************************  
      Services & Terms Section Start
***************************************/
.service_bg {
   background-image: url(../images/service_bg.jpg);
   position: relative;
   z-index: 1;
   background-color: #2D083A;
   padding-left: 90px;
   padding-right: 90px;
   overflow: hidden;
}

.service_bg:after {
   position: absolute;
   content: '';
   background-color: #000;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   z-index: -2;
   opacity: .8;
}

.height_85 {
   margin-top: 85px;
}

.service_top h2,
.service_top p {
   color: #fff;
}

.service_top h2 span {
   color: #ed322d;
}

.row.service_content_height {
   height: 175px;
   background: #7A225D;
}

.service_triangle img {
   position: absolute;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   top: -6%;
   z-index: -1;
}

.service_arrow_1 {
   background: #802C64;
   height: 175px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.service_arrow_2 {
   background: #500C50;
}

.service_arrow_3 {
   background: #3A0C3A;
}

.service_arrow_1 i {
   font-size: 50px;
   color: #953d78;
}

.service_arrow_2 i {
   color: #682852;
}

.service_arrow_3 i {
   color: #601848;
}

.service_text_1 {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 175px;
   background: #7A225D;
   padding: 0px 50px;
}

.service_text_2 {
   background: #480048;
}

.service_text_3 {
   background: #300030;
}

.service_text_1 h3 {
   font-size: 25px;
   color: #eaafd6;
   font-weight: 500;
   margin-bottom: 5px;
}

.service_text_1 p {
   color: #c39fb7;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
}









/**************************************  
      Services & Terms Section End
***************************************/